.grid{
    border-color: blue;
    border-width: 3px;
    margin:15%;
    margin-top:10px;
    width:70%;
}
<<<<<<< HEAD
<<<<<<< HEAD
.Img{
  margin-left: 5%;
}
=======
>>>>>>> 2066f397195ecc15cff361adec6a385adcb9512c
=======
>>>>>>> 2066f397195ecc15cff361adec6a385adcb9512c
